body {
  background-image: url("https://i.pinimg.com/736x/5f/ef/83/5fef837d54a47484c0654958aac86b8b.jpg");
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

h2{
  display: flex;
  flex-wrap: wrap;
  background-color:rgba(255, 255, 255, 0.40);
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 30px;
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas2 {
  border: 1px solid black;
  background-image: url("https://i.pinimg.com/originals/29/b9/e2/29b9e2af94db6be005a0ec96c32d1229.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}


